{% extends 'base.html' %}

{% block content %}

<div class="titulo">ATENDIMENTO</div>
<form class="form-horizontal" method="POST" action="{% url 'atendimento_update' atendimento.id %}">
    {% csrf_token %}
    <div class="tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'lista_atendimentos' %}">Atendimentos</a></li>
            <li><a href="{% url 'atendimentorisco_novo' atendimento.id %}">Riscos</a></li>
            <li><a href="{% url 'atendimentoexame_novo' atendimento.id %}">Exames</a></li>
        </ul>
    </div>
    <div class="form6">
        <div class="form-group">
            <label for="funcao_id" class="control-label col-sm-3">Empregado:</label>
            <div class="col-sm-8">
                <select name="empregado_id" id="empregado_id" required style="width:75%; height:30px; border:#CCC solid 1px;">
                <option value="" selected >Selecione</option>
                {% for empregado in empregados %}
                    {% if atendimento.empregado_id == empregado.id %}
                          <option value="{{ empregado.id }}" selected >{{ empregado.nome }}</option>
                    {% else %}
                          <option value="{{ empregado.id }}" >{{ empregado.nome }}</option>
                    {% endif %}
                {% endfor%}    	
                </select> 
            </div> 
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="data_atendimento">Data:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" required id="data_atendimento" name="data_atendimento"
                value="{{ atendimento.data_atendimento|date:"d/m/Y"}}">
            </div>
        </div>

        <div class="form-group">
            <label for="funcao_id" class="control-label col-sm-3">Tipo Exame:</label>
            <div class="col-sm-8">
                <select name="tipoexame_id" id="tipoexame_id" required style="width:75%; height:30px; border:#CCC solid 1px;">
                <option value="" selected >Selecione</option>
                {% for tipoexame in tipoexames %}
                    {% if atendimento.tipoexame_id == tipoexame.id %}
                       <option value="{{ tipoexame.id }}" selected >{{ tipoexame.nome }}</option>
                    {% else %}   
                       <option value="{{ tipoexame.id }}" >{{ tipoexame.nome }}</option>
                    {% endif %}
                {% endfor %}      	
                </select> 
            </div> 
        </div>

        <div class="form-group">
            <div class="form-check">       
                <label class="control-label col-sm-3" for="altura">Trabalho Altura:</label>
                {% if atendimento.trabalhoaltura == True %}
                <input class="col-sm-1" type="checkbox"  checked name="altura" id="altura">
                {% else %}
                <input class="col-sm-1" type="checkbox" name="altura" id="altura">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">       
                <label class="control-label col-sm-3" for="espaco">Espaço Confinado:</label>
                {% if atendimento.espacoconfinado == True %}
                <input class="col-sm-1" type="checkbox" checked name="espaco" id="espaco">
                {% else %}
                <input class="col-sm-1" type="checkbox" name="espaco" id="espaco">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">       
                <label class="control-label col-sm-3" for="apto">Apto para Trabalho:</label>
                {% if atendimento.espacoconfinado == True %}
                <input class="col-sm-1" type="checkbox" checked name="apto" id="apto">
                {% else %}
                <input class="col-sm-1" type="checkbox" name="apto" id="apto">
                {% endif %}
            </div>
        </div>

        
    </div> 

    {% if messages %}
        <div class="alert alert-danger">
            {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}  

    <div class="botoes">
        <div class="form-group" style="margin:auto; margin-left:150px;">
            <Button type = "submit" class = "btn btn-primary btn-lg">
                <span class = "glyphicon glyphicon-edit" 
                style="margin-left: 5px; margin-right: 10px; font-size: 18px; padding-bottom:5px;"> Alterar</span>
            </Button>                
        </div>
    </div>

    <div class="form-group">
        <a href="{% url 'atendimento_delete' atendimento.id %}"
        <Button type = "submit" class = "btn btn-danger btn-lg" style="float:right; margin-top:-55px; margin-right:180px;">
            <span class = "glyphicon glyphicon-edit" 
            style="margin-left: 5px; margin-right: 10px; font-size: 18px; padding-bottom:5px;"> Excluir</span>
        </Button>       
        </a>         
    </div>

</form>
{% endblock %}